[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
pygame = "*"
scipy = "*"
numpy = "*"

[dev-packages]
pylint = "*"
stable-baselines3 = "*"
torch = "*"
torchvision = "*"
pandas = "*"

[requires]
python_version = "3.8"
